# Virtual env
venv_port_1/
venv/
env/
venv_tail_risk/
venv_port_2/
venv_port_3/
venv_proj_2/

# Python
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db



# Notebooks
.ipynb_checkpoints/

# Env variables
.env
.env.*


